@use '@/app/styles/reset.module';
@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;
@use '../../fonts/font';

* {
  box-sizing: border-box;
}

html,
body {
  @include apply-text-style($body-text);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $color-background;
  transition:
    background-color 0.8s ease,
    color 0.8s ease;
  color: $color-text;
}

body.modal-open {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  @include apply-text-style($h1);
}

h2 {
  @include apply-text-style($h2);
}

h3 {
  @include apply-text-style($h3);
}

h4 {
  @include apply-text-style($h4);
}

caption {
  @include apply-text-style($caption);
}
