/* Подключаем стили со шрифтами, так как они нужны на всех страницах */
@import url('./reset.css');
@import url('../../fonts/font.css');
@import url('./variables.css');

/* для примера */

html {
  box-sizing: border-box; /* Устанавливаем для корневого элемента */
}

/* КРИТИЧЕСКИ ВАЖНО: Наследование box-sizing */

*,
*::before,
*::after {
  box-sizing: inherit; /* Наследуем от родителя */
}

body {
  position: relative;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-regular);
  color: var(--color-text)
}

h2 {
  font-family: var(--font-family-jost);
  font-weight: var(--font-weight-medium);;
  font-size: 24px;
  line-height: 28px;
  vertical-align: middle;
}
