@use '@app/styles/variables' as *;
@use '@app/styles/mixins' as *;

.skills_container {
  position: absolute;
  top: 94px;
  left: 36px;
  padding: 60px;
  border-radius: 12px;
  z-index: 101;
  width: 100%;
  max-width: 1136px;
  height: 1040px;
  border: 1px solid $color-caption;
  background-color: #fff;
  overflow-y: auto;
  max-height: 90vh;

  /* Анимация появления контента*/
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

/* Класс для показа модалки */

.skills_container.visible {
  opacity: 1;
  transform: translateY(0);
}

.category {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;

}

.category_title {
  margin-bottom: 15px;
  line-height: 24px;
  vertical-align: middle;
  letter-spacing: -0.3px;
}

.category_item {
  position: relative;
}

.category_item:last-child {
  margin-top: -35px;
}

.category_item::before {
  content: '';
  position: absolute;
  top: 0;
  left: -52px;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 90px;
  row-gap: 40px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  color: inherit;
  margin-left: 52px;
}

/* Кастомная настройка для WebKit-браузеров полосы прокрутки */

.skills_container::-webkit-scrollbar {
  width: 14px; /* Ширина всей полосы прокрутки */
}

.skills_container::-webkit-scrollbar-track {
  margin: 8px 0; /* Отступ сверху и снизу для закругления */
}

.skills_container::-webkit-scrollbar-thumb {
  background: $color-disabled;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.skills_container::-webkit-scrollbar-thumb:hover {
  background: $color-disabled-text;
  background-clip: content-box;
}

/* Классы смены лого */

.category_item.busines_icon::before {
  background-image: url('./icons/Frame_6.svg');
}

.category_item.creativity_icon::before {
  background-image: url('./icons/Frame_3.svg');
}

.category_item.languages_icon::before {
  background-image: url('./icons/Frame_1.svg');
}

.category_item.education_icon::before {
  background-image: url('./icons/Frame_4.svg');
}

.category_item.home_icon::before {
  background-image: url('./icons/Frame_2.svg');
}

.category_item.health_icon::before {
  background-image: url('./icons/Frame_5.svg');
}
