@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;


.user_account {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user_name {
  font-size: var(--font-size-base);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.user_photo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
