@use '../../app/styles/variables' as *;
@use '../../app/styles/mixins' as *;

.modal {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-card-input;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 110;
  padding: 80px 60px;
  border: solid 1px transparent;
  border-radius: 12px;
  width: 556px;
  height: 480px;
}

.modal_icon {
  width: 100px;
  height: 100px;
  margin-bottom: 52px;
}

.modal_secondary_text {
  font-family: $font-family-main;
  font-weight: $font-weight-regular;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
  width: 100%;
  text-align: center;
}

.modal_one_button_container {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.modal_two_button_container {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 8px; 
  align-items: center;
  justify-content: center;
}
