@use '@app/styles/_variables' as *;
@use 'sass:map';

.title {
  font-family: map.get($h1, font-family);
  font-weight: map.get($h1, font-weight);
  font-size: map.get($h1, font-size);
  line-height: map.get($h1, line-height);
  margin: 5px 0;
  letter-spacing: -0.011em;
}

.description {
  font-family: $font-family-main;
  font-weight: $font-weight-regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.022em;
  margin: 19px 0;
}

.category {
  font-family: $font-family-roboto;
  font-weight: $font-weight-regular;
  font-size: map.get($caption, font-size);
  line-height: map.get($caption, line-height);
  color: $color-caption;
  letter-spacing: 0.02em;
  margin: 0;
}

.container {
  max-width: 400px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
