.container {
  margin-top: 43px;
  margin-bottom: 60px; // mb remove
  display: grid;
  grid-template-columns: 324px 1fr;
  grid-template-rows: auto; // let it be for now
  grid-template-areas:
  'card info'
  'sugestions sugestions';
  row-gap: 60px;
  column-gap: 24px;
}

.teacher_card {
  grid-area: card;
}

.teacher_card :first-child {
  transform: none;
  box-shadow: none;
}

.info_card {
  grid-area: info;
}

.sugestions_heading {
  grid-area: heading;
}

.sugestions_content {
  grid-area: sugestions;
}
