@use '@/app/styles/variables' as *;

.trigger_button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  color: $color-text;
  padding: 0;
}

.arrow_open {
  display: block;
  transform: rotate(180deg);
}
