@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  inline-size: 24px;
  block-size: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.heart {
  fill: transparent;
  stroke: #253017;
}

.icon.is_liked .heart {
  fill: #abd27a;
  stroke: #abd27a;
}
