@use '@app/styles/mixins' as *;
@use '@/app/styles/variables' as *;

.icon {
  @include icon-button;

  &:focus-visible {
    outline: 2px solid $color-text-link;
    outline-offset: 2px;
  }
}

.heart {
  fill: transparent;
  stroke: $color-text;

  &:hover {
    @include button-transition;
    fill: $color-button-hover;
  }

  &:active {
    @include button-transition;
    fill: $color-text-link;
  }
}

.icon.is_liked .heart {
  fill: $color-accent;
  stroke: $color-accent;
}
