.container {
  display: grid;
  grid-template-columns: 324px 1fr;
  grid-template-rows: minmax(130px, auto) auto auto;
  margin-bottom: 60px;
  column-gap: 24px;
}

.main_heading {
  width: 100%;
  order: -1;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter_buttons {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-bottom: 4px;
}

.main_content {
  grid-column: 2;
  grid-row:2/3;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
