@use '@app/styles/_variables' as *;
@use '@/app/styles/mixins' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  width: min(100%, 1136px);
  margin: 32px auto 172px;
  padding: 0;
  min-height: 692px;
}

.section {
  @include flex-center-column;

  gap: 40px;
  border: none;
  border-radius: 8px;
  padding: 40px 60px;
  width: 556px;
  min-height: 692px;
  margin: 0;
  background-color: $form-bg-color;
}

.descriptionWrapper {
  @include flex-center-column;

  gap: 12px;
  max-width: 436px;
}

.description {
  text-align: center;
}
