@use '@app/styles/_variables' as *;
@use '@app/styles/_mixins' as *;

.card {
  @include border-radius;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: $color-card-input;
  width: 324px;
}
.like_info {
@include body-text;
@include border-radius;
  font-size: 16px;
  line-height: 24px;
  border-radius: 12px;
  left: 15px;
  bottom: 95%;
  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: max-content;
  padding: 3px 5px 3px 20px;
  background-color: rgba(222, 235, 197, 1);
  box-shadow:0 0 4px 1px $color-alarm;
  font-size: 14px;
  list-style: revert;

}

.skills {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttonImg {
  margin-right: 8px;
}

.like {
  display: flex;
  column-gap: 10px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  gap: 4px; /* расстояние между числом и сердечком */
}

.likesCount {
  @include body-text;
  color: $color-text;
}

.description {
  font-family: $font-family-main;
  font-weight: $font-weight-regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.022em;
  margin: 19px 0;
}
