@use '@app/styles/_variables' as *;
@use '@app/styles/_mixins' as *;

.card {
  @include border-radius;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: $color-card-input;
  width: 324px;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttonImg {
  margin-right: 8px;
}

.like {
  display: flex;
  column-gap: 10px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  gap: 4px; /* расстояние между числом и сердечком */
}

.likesCount {
  @include body-text;
  color: $color-text; 
}
