@use '@app/styles/variables' as *;
@use 'sass:map';

.container_title {
  font-family: map.get($h4, font-family);
  font-weight: map.get($h4, font-weight);
  font-size: map.get($h4, font-size);
  line-height: map.get($h4, line-height);
  margin-bottom: 8px;
}

.skills_list {
  display: flex;
  column-gap: 4px;
}

.skills_item {
  padding: 8px 12px;
  background-color: $tag-education-development;
  border-radius: 20px;
}

.skills_item_title {
  font-family: map.get($caption, font-family);
  font-weight: map.get($caption, font-weight);
  font-size: map.get($caption, font-size);
  line-height: map.get($caption, line-height);
  white-space: nowrap;
}

.skills_item_businessCareer {
  background-color: $tag-business-career;
}

.skills_item_creativityArt {
  background-color: $tag-creativity-art;
}

.skills_item_foreignLanguages {
  background-color: $tag-foreign-languages;
}

.skills_item_educationDevelopment {
  background-color: $tag-education-development;
}

.skills_item_homeComfort {
  background-color: $tag-home-comfort;
}

.skills_item_healthLifestyle {
  background-color: $tag-health-lifestyle;
}
